---
layout: default
---

<div class="home">

    {%- include head.html -%}

    {%- include header.html -%}

    {{ content }}

    <!-- Subclass Section Generation -->
    {%- assign posts = site.categories["Subclasses"] | sort: 'title' -%}

    {%- if posts.size > 0 -%}

        <h2>Subclasses</h2>

        {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <div class="box home-box">
        <div class="post-list">
            {%- for post in posts -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
                <h3>{{ post.title | escape }}</h3>
            </a>
            {%- endfor -%}
        </div>
        </div>

    {%- endif -%}


</div>