---
layout: default
---

<div class="home">

    {%- include head.html -%}

    {%- include header.html -%}

    {{ content }}

    <h1>Spells</h1>

    <span style="float: left;
                 margin-right: 125px">
        <h2>By Class</h2>
        <ul>
            <li><a href="/spells/artificer/">Artificer</a></li>
            <li><a href="/spells/bard/">Bard</a></li>
            <li><a href="/spells/cleric/">Cleric</a></li>
            <li><a href="/spells/druid/">Druid</a></li>
            <li><a href="/spells/paladin/">Paladin</a></li>
            <li><a href="/spells/ranger/">Ranger</a></li>
            <li><a href="/spells/sorcerer/">Sorcerer</a></li>
            <li><a href="/spells/warlock/">Warlock</a></li>
            <li><a href="/spells/wizard/">Wizard</a></li>
        </ul>
    </span>
    <span style="float: left;">
        <h2>By School</h2>
        <ul>
            <li>Abjuration</li>
            <li>Conjuration</li>
            <li>Divination</li>
            <li>Enchantment</li>
            <li>Evocation</li>
            <li>Illusion</li>
            <li>Necromancy</li>
            <li>Transmutation</li>
        </ul>
    </span>

</div>